.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card {
  border: 1px solid black;
  max-width: 380px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 6px 6px 0 0 black;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label,
p,
#myInput {
  font-size: 16px;
}

#myInput {
  padding: 4px;
  border: none;
  border-bottom: 2px solid black;

}